@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// font-family: 'Martel Sans', sans-serif;

// font-family: 'Open Sans', sans-serif;
$color-1: #030706;
$color-2: #2d4f4c;
$color-3: #b64515;
$color-4: #d2d4d2;
$color-5: #c49045;
$color-6: #41a5be;
$color-7: #253dc5;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// body {
//   //   overflow-x: hidden;
// }
.container {
  width: 90%;
  margin: auto;
}
@import 'landing';
@import 'movie-list';
