@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// font-family: 'Martel Sans', sans-serif;

// font-family: 'Open Sans', sans-serif;
$color-1: #030706;
$color-2: #2d4f4c;
$color-3: #b64515;
$color-4: #d2d4d2;
$color-5: #c49045;
$color-6: #41a5be;
$color-7: #253dc5;
$color-8: rgb(255, 0, 0);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  //   overflow-x: hidden;
}
.container {
  width: 90%;
  margin: auto;
}
.selections {
  text-align: center;
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    padding: 20px 0 0;
    color: whitesmoke;
    .logo {
      font-size: 2.4rem;
      padding: 0 10px;
      font-family: 'Martel Sans', sans-serif;
      font-weight: 900;
      color: rgb(255, 0, 0);
      span {
        font-weight: 800;
        color: rgb(255, 239, 239);
      }
    }
  }
  padding: 10px 0 10 0;
  background-color: $color-1;
  .selection-genre-set {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      // line-height: 1;
      width: 140px;
      height: 2.5rem;
      padding: 6px 10px;
      margin: 5px 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.025rem;
      border: none;
      font-weight: 400;
      border-radius: 20px;
      transition: all 0.3s ease;
      border: 2px $color-6 solid;
      background-color: rgb(45, 45, 45);
      color: whitesmoke;
      border: none;
      // border: solid 1px rgb(1, 0, 0);
      cursor: pointer;
      box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $color-2,
        0 0 35px $color-2, 0 0 30px $color-2;
    }
    button:hover {
      background-color: $color-1;
      color: white;
      box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $color-6,
        0 0 35px $color-6, 0 0 30px $color-6;
    }
    button.active {
      background-color: $color-1;
      background-color: rgb(143, 14, 14);
      color: white;
      font-weight: 600;
      box-shadow: 0 0 6px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255), 0 0 40px $color-4, 0 0 50px $color-4,
        0 0 30px $color-4;
      box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255), 0 0 20px $color-4, 0 0 35px $color-4,
        0 0 30px $color-4;
      // box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $color-6,
      //   0 0 35px $color-6, 0 0 30px $color-6;
    }
  }
}

@import 'landing';
@import 'movie-list';
